* {
    text-decoration: none;
    list-style-type: none;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER /*/


/* HEADER TOP */
/* HEADER BOTTOM*/
.logo-wrapper {
    text-align: center;
}

.logo-wrapper img {
    width: 100px;
}

.search-wrapper input {
    width: 100%;
    border-width: 1px;
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
}

.search-wrapper img {
    display: block;
    width: 20px;
    height: 20px;
}

.search-wrapper button {
    border: none;
    border: 1px solid black;
    border-radius: 0 15px 15px 0;
    margin-right: 20px;
}

.header-top a {
    margin-right: 10px;
}

.mobile-menu img {
    max-width: 35px;
}

.navbar {
    display: none;
    margin: 0;
    padding: 0;
}

.hero-wrapper {
    background-image: url("./shoes_image.webp"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-blend-mode: overlay;
    height: 400px;
    color: white;
    text-align: center;
}

.hero {
    width: 100%;
}

.hero-wrapper > .container {
    height: 100%;
    /*background-color: green;*/
    /*padding-top: 40%;*/
}

.hero-text {
    height: inherit;
}

.hero-logo {
    filter: invert(100%);
    width: 150px;
}

/*.hero-text{*/
/*    height: 100%;*/
/*}*/
/* CONTENT */
.content {
    /*background-color: pink;*/
    margin-top: 20px;
    min-height: 75vh;
}

.featured > .container > .row > .d-flex >.product,
.top-sellers > .container > .row > .d-flex >.product {
    background-color: beige;
    height: 300px;
    margin-bottom: 5px;
    /*margin-right: 1px;*/
    /*width: 200px;*/
}

footer {
    min-height: 100px;
    /*background-color: lightblue;*/
    padding: 20px 0;
    margin-top: 65px;
    border-top: 1px solid black;

}
footer .container{
    height: 100%;
}
.social{
    /*text-align: center;*/

}
.social p{
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.social-wrapper .image-wrapper{
    width: 50px;
}
.social img{
    width: 100%;
}
.footer-nav{
    text-align: center;
}
.footer-nav ul{
    padding: 0;
}
.copyright{
    text-align: center;
    margin-top: 20px;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .hero-wrapper {
        height: 500px;
    }

    .hero-logo {
        width: 200px;
    }

    .featured > .container > .row > .d-flex >.product,
    .top-sellers > .container > .row > .d-flex > .product {
        background-color: beige;
        height: 200px;
        width: 19%;
        /*margin-bottom: 5px;*/
        color: green;

    }
}